*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.head_main{
    height: 100vh;
    width: 100%;
    background-color: rgb(15, 101, 155);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}
.logo{
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: rgba(207, 170, 35, 0.895);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize ;
}
nav ul li a:hover{
    color: rgb(208, 239, 9);
    transition: .2s;
}
nav ul li:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
.head_main img{
    padding-left: 60%;
    padding-top: 8%;
    width: 80%;
}
.contact_details{
    padding-left: 0%;
    padding-top: 5%;
    color: antiquewhite;
    letter-spacing: 1px;
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}

/*---------------ABOUT---------------------------*/

.about{
    width: 100%;
    padding: 120px 20px;
    background-color: #292939;
}
.about img{
    height: auto;
    width: 30%;
}
.about-text{
    width: 550px;
}
.about_main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*--------------- EDUACTION---------------------------*/

.education{
    width: 100%;
    padding: 120px 20px;
    background-color: #242f30;
}
.logos{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.education_text{
    width: 100%;
}
.education_main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.education_text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.education_text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/*--------------- EXTRA CURRICULAR---------------------------*/

.extra_curricular{
    width: 100%;
    padding: 120px 20px;
    background-color: #292939;
}
.extra_cur_img img{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.extra_cur_text{
    width: 100%;
}
.extra_cur_main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.extra_cur_text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.extra_cur_text h5{
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.extra_cur_text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 45px;
}

/*---------------VOLUNTEER---------------------------*/

.volunteer{
    width: 100%;
    padding: 120px 20px;
    background-color: #242f30;
}
.volunteer_main img{
    width: 50%;
    height: 50%;
    float: center;
    padding-left: 2%;
}
.volunteer_text{
    width: 100%;
}
.volunteer_main{
    padding-top: 5%;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.volunteer_text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.volunteer_text h5{
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.volunteer_text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 45px;
}